//VARIABLES
@lighterblue:   rgb(108, 118, 127);  //social_networks backgound
@lightblue:     rgb(58, 69, 90);     //scrollbar background
@blue:          rgb(40, 52, 75);     //figure background
@darkblue:      rgb(39, 51, 73);     //header, books & footer background
@red:           rgb(254, 78, 78);    //contact background
@darkred:       rgb(228, 70, 70);    //special_order background
@darkerred:     rgb(177, 54, 54);    //special_order icons
@gray:          rgb(91, 102, 118);   //footer bottom text

//CLEARFIX
.cf:before,
.cf:after {
    content: "";
    display: table;
} 
.cf:after {
    clear: both;
}
 
//BODY
body {
    margin: 0 auto;
    padding-top: 61px;
    ul li {
        list-style: none;
    }
    a:hover {
        text-decoration: none;
    }
}

//HEADER
header {
    width: 100%;
    background: @darkblue;
    color: white;
}
.navbar-default {
  background-color: @darkblue;
  border-color: @darkblue;
}
.navbar-collapse {
    float: right;
    transition: all 0.5s ease;
}
.navbar-brand {
    height: auto;
    padding: 5px 15px 5px 50px;
}
.navbar-brand img {
    width: 100%;
    max-width: 360px;
}
.nav>li {  
    display: inline-block;
}
.nav>li a {
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}
.navbar-default .navbar-nav>li>a:hover {
    color: white;
    transform: rotateX(360deg);
    transition: all .5s ease-in;
}

//MAIN
#book_shelf {
    width: 100%;
    img {
        width: 100%;
    }
}
#books {
    height: 940px; //to be deleted
    width: 100%;
    #pick_books {
        height: 475px; //to be deleted
        background: @darkblue;
    }
    #book_info {
        height: 465px; 
        background: white;
    }
}

#contact {
    height: 360; //to be deleted
    width: 100%;
    background: @red;
}
#special_orders {
    height: 285px; //to be deleted
    width: 100%;
    background: @darkred;
}

//MAIN - PARALAX
#parallax {
    height: 240px;
    width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
    #img1,
    #img2 {
        height: 1000px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    #img1 {
        background: url(../../images/1.png) repeat;
    }
    #img2 {
        background: url(../../images/2.png) repeat;
    }
    #button {
        font-size: 1.1em;
        color: black;
        letter-spacing: .4em;
        width: 20%;
        padding: 25px;
        border-top: 3px solid @red;
        background-color: white;
        opacity: 0.7;
        position: relative;
        top: 109px;
        transition: all 0.5s ease 0s;
        .fa-caret-right {
            color: @red;
        }
        &:hover {
            opacity: 1;
        }
    }
}

//FOOTER
footer {
    width: 100%;
    background: @darkblue;
    color: white;
    .rot_link {
        margin-right: .3em;
    }
    .rot_icon {
        transition: all .6s ease-in-out;
    }
    .rot_link:hover .rot_icon {
        transform: rotate(360deg);
    }
    #top.container-fluid {
        font-size: .85em;
        width: 85%;
        margin: 0 auto;
        padding: 0;
        text-align: center;
        h4 {
            font-size: 1.5em;
            color: @darkred;
            padding-top: 50px;
            margin: 0;
        }
        p {
            padding-top: 30px;
            margin-bottom: 0;
        }
    }
    .row {
        margin: 0 auto;
    }
    .col-md-6 {
        padding-right: 0;
        padding-left: 0;
        text-align: left;
    }
    #second ul {
        padding: 30px 0 0 0;
    }
    #second li {
        padding: 0 0 18px 0;
    }
    #no3 li a {
        color: white;
        &:hover {
            transform: rotateX(360deg);
            transition: all .5s ease-in;
        }
    }
    #no4 li {
        display: inline-block;
    }
    #no1 .fa,
    #no2 .fa {
        background: @darkblue;
        color: @lighterblue;
    }
    #no4 .fa-circle {
        background: @darkblue;
        color: @lightblue;
    }
    ul {
        padding-left: 0;
        padding-top: 25px;
        li {
            padding-top: 10px;
        }
    }
    #bottom {
        color: @gray;
        width: 85%;
        margin: 0 auto;
        border-top: 1px solid @lightblue;
        text-align: center;
        clear: both;
        font-size: .85em;
        p {
            padding: 18px 0 20px 0;
            margin: 0;
        }
    }
}


//MOBILE PORTRAIT
@media only screen and (max-width: 559px) {
    .navbar-brand {
        width: 78%;
        margin: 0 auto;
        padding: 13px 15px 5px 15px;
    }
    .navbar-brand img {
        width: 100%;
        max-width: 240px;
    }
    .navbar-toggle {
        margin: 13px 13px 13px 0;
        float: right;
    }
    .navbar-collapse {
        width: 100%;
        text-align: left;
        font-size: .75em;
    }
    .navbar-nav li {
        display: block;
    }
    .navbar-default .navbar-nav>li>a {
        color: white;
        padding: 1px 0 1px 5px;
    }
    #parallax {
        #button {
        font-size: .85em;
        letter-spacing: .13em;
        opacity: .8;
        width: 20%;
        padding: 13px;
        }
    }
    footer {
        #top.container-fluid {
            h4 {
                padding-top: 25px;
            }
            p {
                padding-top: 15px;
            }
            width: 100%;
            font-size: .75em;
            #first ul,
            #second ul {
                padding-top: 15px;
                li {
                    padding-top: 3px;
                }
            }
            #first ul {
                margin-bottom: 0;
            }
            #no3 ul li {
                padding-top: 7px;
                padding-bottom: 0;
            }
        }
        #bottom {
            width: 100%;
            font-size: .8em;
        }
        #no1,
        #no3 {
            text-align: right;
            padding: 0 13px 0 5px;
        }
        #no2, 
        #no4 {
            padding: 0 5px 0 9px;
        }
    }
}

//MOBILE LANDSCAPE
@media only screen and (min-width: 560px) and (max-width: 767px) { 
    .navbar-brand {
        width: 70%;
        margin: 0 auto;
        padding: 10px 15px 5px 15px;
    }
    .navbar-brand img {
        width: 100%;
        max-width: 280px;
    }
    .navbar-toggle {
        margin: 13px 13px 13px 0;
        float: right;
    }
    .navbar-collapse {
        width: 100%;
        text-align: center;
        font-size: .8em;
    }
    .navbar-default .navbar-nav>li>a {
        color: white;
        padding: 2px 20px 2px 20px;
    }
    #parallax {
        #button {
        font-size: .9em;
        letter-spacing: .15em;
        opacity: .8;
        width: 20%;
        padding: 15px;
        }
    }
    footer {
        #top.container-fluid {
            h4 {
                padding-top: 30px;
            }
            p {
                padding-top: 20px;
            }
            width: 100%;
            font-size: .85em;
            #first ul,
            #second ul {
                padding-top: 20px;
                li {
                    padding-top: 5px;
                }
            }
            #first ul {
                margin-bottom: 0;
            }
            #no3 ul li {
                padding-top: 9px;
                padding-bottom: 0;
            }
        }
        #bottom {
            width: 100%;
            font-size: .8em;
        }
        #no1,
        #no3 {
            text-align: right;
            padding-right: 20px;
        }
        #no2, 
        #no4 {
            padding-left: 20px;
        }
    }
}

//TABLET
@media only screen and (min-width: 768px) and (max-width: 991px) {
    body {
        padding-top: 84px;
    }
    .navbar-header {
        width: 100%;
        text-align: center;
        margin-bottom: -5px;
    }
    a.navbar-brand {
        display: inline-block;
        float: none;
    }
    .navbar-brand img {
        max-width: 300px;
    }
    .navbar-collapse {
        width: 100%;
        height: auto;
        text-align: center;
        margin-bottom: -5px;
    }
    .navbar-nav {
        float: none;
        display: inline-block;
    }
    .navbar-default .navbar-nav>li>a {
        padding: 10px 20px 10px 20px;
        margin-top: -8px;
        color: white;
    }
    #parallax {
        #button {
        font-size: 1em;
        letter-spacing: .2em;
        width: 20%;
        padding: 20px;
        }
    }
    footer {
        #top.container-fluid {
            h4 {
                padding-top: 30px;
            }
            p {
                padding-top: 25px;
            }
            width: 100%;
            font-size: 1em;
            #first ul,
            #second ul {
                padding-top: 25px;
                padding-bottom: 15px;
                li {
                    padding-top: 8px;
                }
            }
            #first ul {
                margin-bottom: 0;
            }
            #no3 ul li {
                padding-top: 11px;
                padding-bottom: 0;
            }
        }
        #bottom {
            width: 100%;
            font-size: .9em;
        }
        #no1,
        #no3 {
            text-align: right;
            padding-right: 40px;
        }
        #no2, 
        #no4 {
            padding-left: 40px;
        }
    }
}

//DESKTOP
@media only screen and (min-width: 992px) {
    .navbar-header {
        width: 35%;
    }
    a.navbar-brand {
        padding-left: 50px;
    }
    .navbar-collapse {
        width: 65%;
        text-align: center;
    }
    .navbar-nav {
        float: none;
        display: inline-block;
    }
    .navbar-default .navbar-nav>li>a {
        padding: 20px 26px 20px 26px;
        margin-bottom: -5px;
        color: white;
    }
}


